.table-dark {
    tbody {
        tr {
            color: black;
            background: #ccd2d7;
            text-align: center;
        }
    }
    thead {
        tr {
            background-color: #404354;
        }
        th {
            text-align: center;
        }
    }
}
.table i {
    width: 12px;
}
.main-content {
    min-height: 900px;
}
.btn-orange {
    color: #fff;
    background-color: #da7d09;
    border-color: #da7f0e;
}