.table-dark {
    tbody {
        tr {
            color: black;
            background: #ccd2d7;
            text-align: center;
        }
    }
    thead {
        th {
            text-align: center;
        }
    }
}